{% load static tailwind_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'fontawesomefree/css/fontawesome.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/brands.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'fontawesomefree/css/solid.css' %}" rel="stylesheet" type="text/css">
    {% tailwind_css %}

    <style>
        ::-webkit-scrollbar {
            width: 0;  /* Remove scrollbar space */
            background: transparent;  /* Optional: just make scrollbar invisible */
        }
        /* Optional: show position indicator in red */
        ::-webkit-scrollbar-thumb {
            background: #FF0000;
        }
    </style>
    
</head>
<body class="text-white bg-black">
    <div class="flex h-screen">
        <div 
            class="
                flex
                flex-col
                items-center
                justify-center
                h-fit
                w-fit
                my-auto
                rounded-full
                px-2 py-2.5
                bg-[rgb(12,12,12)]
                mx-4
                transition
                ease-in-out
                duration-200
                text-zinc-400
            "
        >
            <div class="mb-2 relative rounded-full group">
                <button class="w-12 h-12 rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-house fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Dashboard</div>
                </button>
            </div>

            <div class="mb-2 relative rounded-full group">
                <button class="w-12 h-12  rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Search</div>
                </button>
            </div>

            <div class="mb-2 relative rounded-full group">
                <button class="w-12 h-12  rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-folder fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Projects</div>
                </button>
            </div>

            <div class="mb-2 relative rounded-full group">
                <button class="w-12 h-12  rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-chart-simple fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Analytics</div>
                </button>
            </div>

            <div class="mb-2 relative rounded-full group">
                <button class="w-12 h-12  rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-barcode fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Scan</div>
                </button>
            </div>

            <div class="relative rounded-full group">
                <button class="w-12 h-12  rounded-full hover:bg-black hover:text-white">
                    <i class="fa-solid fa-cart-shopping fa-lg"></i>
                    <div class="absolute left-16 top-0 h-12 w-24 flex items-center justify-center text-sm font-semibold bg-[rgb(26,26,26)] z-10 rounded-md invisible group-hover:visible">Cart</div>
                </button>
            </div>

        </div>

        
        <div class="flex-1 h-full py-4 pr-4">
            <div class="w-full h-full overoverflow-hidden overflow-y-auto  rounded-xl px-4">
                <header class="h-fit py-4 select-none flex justify-between">
                    <a href="" class="font-bold text-2xl">PBJ.</a>
                    <div class="flex gap-4">
                        <a href="" class="flex items-center justify-center rounded-full aspect-1 h-10 bg-gradient-to-r from-pink-500 via-red-500 to-yellow-500 hover:scale-105 transition ease-in-out">JL</a>
                    </div>
                </header>
                
                {% block body %}
                
                {% endblock %}
            </div>
        </div>

    </div>
</body>
</html>