{% extends "website/base.html" %}
{% block title %}Home{% endblock %}
{% block body %}


<main class="px-6 bg-white dark:bg-[#121212] overflow-hidden overflow-y-scroll">
    <div class="h-fit max-w-[1955px]">
        <div class="flex items-end justify-between mb-4 font-bold select-none">
            <div class="text-normal">Projects</div>
            <a href="/" class="text-sm opacity-60 hover:opacity-100 transition">Show all</a>
        </div>

        <div class="grid grid-flow-col auto-cols-min gap-3 lg:gap-6 overflow-x-scroll">
            <div class="relative w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-zinc-200 dark:bg-black transition group">
                <i class="fa-solid fa-arrow-right absolute top-2 right-2 invisible group-hover:visible"></i>
                <div class="font-bold text-md pb-1">Lorem ipsum dolor</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-zinc-200 dark:bg-black transition group">
                <div class="font-bold text-md pb-1">Card title</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-zinc-200 dark:bg-black transition group">
                <div class="font-bold text-md pb-1">Card title</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-zinc-200 dark:bg-black transition group flex items-center justify-center">
                <i class="fa-solid fa-plus fa-xl opacity-60 group-hover:opacity-100 transition"></i>
            </div>

        </div>
    </div>

    <div class="h-fit max-w-[1955px]">
        <div class="flex items-end justify-between mb-4 font-bold select-none">
            <div class="text-normal">Parts</div>
            <a href="/" class="text-sm opacity-60 hover:opacity-100 transition">Show all</a>
        </div>

        <div class="grid grid-flow-col auto-cols-min gap-3 lg:gap-6 overflow-x-scroll">
            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-rose-500 dark:bg-rose-900 transition group">
                <div class="font-bold text-md pb-1">Card title</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-rose-500 dark:bg-rose-900 transition group">
                <div class="font-bold text-md pb-1">Card title</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-rose-500 dark:bg-rose-900 transition group">
                <div class="font-bold text-md pb-1">Card title</div>
                <div class="mt-1 line-clamp-3 text-sm opacity-60">Lorem ipsum dolor sit amet, consect adipisc elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
            </div>

            <div class="w-[190px] h-[280px] rounded-md p-4 cursor-pointer bg-rose-500 dark:bg-rose-900 transition group flex items-center justify-center">
                <i class="fa-solid fa-plus fa-xl opacity-60 group-hover:opacity-100 transition"></i>
            </div>

        </div>
    </div>
    
</main>
    

{% endblock %}